<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{{or site.url siteRootPath}}}">
        <img src="{{{uiRootPath}}}/img/logo.svg" alt="Thinkube">
        <span>{{site.title}}</span>
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{siteRootPath}}}/install/overview.html">Get started</a>
        <a class="navbar-item" href="{{{siteRootPath}}}/thinkube-docs/reference/thinkube-yaml.html">Reference</a>
        <button class="theme-toggle" type="button" onclick="thinkubeToggleTheme()" aria-label="Toggle dark mode" title="Toggle dark mode">
          <span class="theme-toggle-icon" aria-hidden="true"></span>
        </button>
        <a class="navbar-item" href="https://github.com/thinkube/thinkube">GitHub</a>
      </div>
    </div>
  </nav>
</header>
